
  

  
  .target {
    position: relative;
    font-size: 2em;
    width: 28em;
    
    
  }
  
  .expanding {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 1.8em;
    word-break: break-all;
    animation-name: blink, expand-width; 
    animation-duration: 10s, 10s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
  }
  
  @keyframes blink {
    0% {
      border-right: 1px solid transparent;
    }
    50% {
      border-right: 1px solid black;
    }
    100% {
      border-right: 1px solid transparent;
    }
  }
  
  @keyframes expand-width {
    0% {width: 0ch;}
0.4819277108433735% {width: 0.5ch;}
0.963855421686747% {width: 1ch;}
1.4457831325301205% {width: 1.5ch;}
1.927710843373494% {width: 2ch;}
2.4096385542168672% {width: 2.5ch;}
2.891566265060241% {width: 3ch;}
3.3734939759036147% {width: 3.5ch;}
3.855421686746988% {width: 4ch;}
4.337349397590361% {width: 4.5ch;}
4.8192771084337345% {width: 5ch;}
5.301204819277108% {width: 5.5ch;}
5.783132530120481% {width: 6ch;}
6.265060240963854% {width: 6.5ch;}
6.7469879518072275% {width: 7ch;}
7.228915662650601% {width: 7.5ch;}
7.710843373493974% {width: 8ch;}
8.192771084337348% {width: 8.5ch;}
8.67469879518072% {width: 9ch;}
9.156626506024095% {width: 9.5ch;}
9.638554216867467% {width: 10ch;}
10.120481927710841% {width: 10.5ch;}
10.602409638554214% {width: 11ch;}
11.084337349397588% {width: 11.5ch;}
11.56626506024096% {width: 12ch;}
12.048192771084334% {width: 12.5ch;}
12.530120481927707% {width: 13ch;}
13.012048192771081% {width: 13.5ch;}
13.493975903614453% {width: 14ch;}
13.975903614457827% {width: 14.5ch;}
14.4578313253012% {width: 15ch;}
14.939759036144574% {width: 15.5ch;}
15.421686746987946% {width: 16ch;}
15.90361445783132% {width: 16.5ch;}
16.385542168674693% {width: 17ch;}
16.867469879518065% {width: 17.5ch;}
17.34939759036144% {width: 18ch;}
17.831325301204814% {width: 18.5ch;}
18.31325301204819% {width: 19ch;}
18.795180722891562% {width: 19.5ch;}
19.277108433734938% {width: 20ch;}
19.75903614457831% {width: 20.5ch;}
20.240963855421686% {width: 21ch;}
20.72289156626506% {width: 21.5ch;}
21.204819277108435% {width: 22ch;}
21.686746987951807% {width: 22.5ch;}
22.168674698795183% {width: 23ch;}
22.650602409638555% {width: 23.5ch;}
23.13253012048193% {width: 24ch;}
23.614457831325304% {width: 24.5ch;}
24.09638554216868% {width: 25ch;}
24.578313253012052% {width: 25.5ch;}
25.060240963855428% {width: 26ch;}
25.5421686746988% {width: 26.5ch;}
26.024096385542176% {width: 27ch;}
26.50602409638555% {width: 27.5ch;}
26.987951807228924% {width: 28ch;}
27.469879518072297% {width: 28.5ch;}
27.951807228915673% {width: 29ch;}
28.433734939759045% {width: 29.5ch;}
28.91566265060242% {width: 30ch;}
29.397590361445793% {width: 30.5ch;}
29.87951807228917% {width: 31ch;}
30.36144578313254% {width: 31.5ch;}
30.843373493975918% {width: 32ch;}
31.32530120481929% {width: 32.5ch;}
31.807228915662666% {width: 33ch;}
32.28915662650604% {width: 33.5ch;}
32.771084337349414% {width: 34ch;}
33.25301204819279% {width: 34.5ch;}
33.73493975903616% {width: 35ch;}
34.21686746987953% {width: 35.5ch;}
34.698795180722904% {width: 36ch;}
35.180722891566276% {width: 36.5ch;}
35.66265060240965% {width: 37ch;}
36.14457831325302% {width: 37.5ch;}
36.62650602409639% {width: 38ch;}
37.108433734939766% {width: 38.5ch;}
37.59036144578314% {width: 39ch;}
38.07228915662651% {width: 39.5ch;}
38.55421686746988% {width: 40ch;}
39.036144578313255% {width: 40.5ch;}
39.51807228915663% {width: 41ch;}
40% {width: 41.5ch;}
40.48192771084337% {width: 42ch;}
40.963855421686745% {width: 42.5ch;}
41.44578313253012% {width: 43ch;}
41.92771084337349% {width: 43.5ch;}
42.40963855421686% {width: 44ch;}
42.891566265060234% {width: 44.5ch;}
43.37349397590361% {width: 45ch;}
43.85542168674698% {width: 45.5ch;}
44.33734939759035% {width: 46ch;}
44.819277108433724% {width: 46.5ch;}
45.301204819277096% {width: 47ch;}
45.78313253012047% {width: 47.5ch;}
46.26506024096384% {width: 48ch;}
46.74698795180721% {width: 48.5ch;}
47.228915662650586% {width: 49ch;}
47.71084337349396% {width: 49.5ch;}
48.19277108433733% {width: 50ch;}
48.6746987951807% {width: 50.5ch;}
49.156626506024075% {width: 51ch;}
49.63855421686745% {width: 51.5ch;}
50.12048192771082% {width: 52ch;}
50.60240963855419% {width: 52.5ch;}
51.084337349397565% {width: 53ch;}
51.56626506024094% {width: 53.5ch;}
52.04819277108431% {width: 54ch;}
52.53012048192768% {width: 54.5ch;}
53.012048192771054% {width: 55ch;}
53.49397590361443% {width: 55.5ch;}
53.9759036144578% {width: 56ch;}
54.45783132530117% {width: 56.5ch;}
54.939759036144544% {width: 57ch;}
55.421686746987916% {width: 57.5ch;}
55.90361445783129% {width: 58ch;}
56.38554216867466% {width: 58.5ch;}
56.86746987951803% {width: 59ch;}
57.349397590361406% {width: 59.5ch;}
57.83132530120478% {width: 60ch;}
58.31325301204815% {width: 60.5ch;}
58.79518072289152% {width: 61ch;}
59.277108433734895% {width: 61.5ch;}
59.75903614457827% {width: 62ch;}
60.24096385542164% {width: 62.5ch;}
60.72289156626501% {width: 63ch;}
61.204819277108385% {width: 63.5ch;}
61.68674698795176% {width: 64ch;}
62.16867469879513% {width: 64.5ch;}
62.6506024096385% {width: 65ch;}
63.132530120481874% {width: 65.5ch;}
63.61445783132525% {width: 66ch;}
64.09638554216862% {width: 66.5ch;}
64.578313253012% {width: 67ch;}
65.06024096385538% {width: 67.5ch;}
65.54216867469874% {width: 68ch;}
66.02409638554212% {width: 68.5ch;}
66.50602409638549% {width: 69ch;}
66.98795180722887% {width: 69.5ch;}
67.46987951807223% {width: 70ch;}
67.95180722891561% {width: 70.5ch;}
68.43373493975898% {width: 71ch;}
68.91566265060236% {width: 71.5ch;}
69.39759036144572% {width: 72ch;}
69.8795180722891% {width: 72.5ch;}
70.36144578313247% {width: 73ch;}
70.84337349397585% {width: 73.5ch;}
71.32530120481921% {width: 74ch;}
71.80722891566259% {width: 74.5ch;}
72.28915662650596% {width: 75ch;}
72.77108433734934% {width: 75.5ch;}
73.2530120481927% {width: 76ch;}
73.73493975903608% {width: 76.5ch;}
74.21686746987945% {width: 77ch;}
74.69879518072283% {width: 77.5ch;}
75.18072289156619% {width: 78ch;}
75.66265060240957% {width: 78.5ch;}
76.14457831325294% {width: 79ch;}
76.62650602409632% {width: 79.5ch;}
77.10843373493968% {width: 80ch;}
77.59036144578306% {width: 80.5ch;}
78.07228915662643% {width: 81ch;}
/* 78.5542168674698% {width: 81.5ch;}
79.03614457831317% {width: 82ch;}
79.51807228915655% {width: 82.5ch;}
79.99999999999991% {width: 83ch;}
80.4819277108433% {width: 83.5ch;} */
  }
  